<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Edit Sale</title>
</head>
<body>
<div align="center">
  <h1>Редактирование остановки</h1>
  <br />
  <form action="#" th:action="@{/stopedit}" th:object="${stop}"
        method="post">

    <table border="0" cellpadding="10">
      <tr>
        <td>ID:</td>
        <td><input type="text" th:field="*{id}" readonly="readonly" /></td>
      </tr>
      <tr>
        <td>ID:</td>
        <td><input type="text" th:field="*{race_id}" readonly="readonly" /></td>
      </tr>
      <tr>
        <td>Начальная:</td>
        <td><input type="text" th:field="*{stop_place}" /></td>
      </tr>
      <tr>
        <td>Следующая остановка:</td>
        <td><input type="text" th:field="*{next_place}" /></td>
      </tr>
      <tr>
        <td>Время отправления:</td>
        <td><input type="text" th:field="*{dep_time}" /></td>
      </tr>
      <tr>
        <td>Время прибытия:</td>
        <td><input type="text" th:field="*{arr_time}" /></td>
      </tr>
      <tr>
        <td>Цена:</td>
        <td><input type="text" th:field="*{cost_pr_stop}" /></td>
      </tr>
      <tr>
        <td>Кол-во мест:</td>
        <td><input type="text" th:field="*{av_places}" /></td>
      </tr>

      <tr>
        <td colspan="2"><button type="submit">Сохранить</button> </td>
      </tr>
    </table>
  </form>
</div>
</body>